<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="invoice">
    <div class="header">
      <h1>Commercial Invoice</h1>
    </div>
    <div class="content">
      <div class="left-column">
        <!-- Content for left column -->
        <div class="box-1">
          <h1>Shipper/Exporter</h1>
          <p>Mr Hippo</p>
          <p>955 Mission Street</p>
          <p>Suite 480</p>
          <p>San Francisco, CA 94103</p>
          <p>US</p>
          <p>4151234567</p>
          <p>mhippo@goshippo.com</p>
          <p>Tax ID/VAT:</p>
          <p>EORI:</p>
        </div>

        <div class="box-1">
          <h1>Recipient/Ship To</h1>
          <p>Shippo Ts, Mrs. Hippo</p>
          <p>145 W 17 St#100</p>
          <p>North Vancouver, BC V7M3G4</p>
          <p>CA</p>
          <p>US</p>
          <p>6049856811</p>
          <p>mhippo@goshippo.com</p>
        </div>

        <div class="box-1">
          <h1>Importer of Record</h1>
          <p>(If other than Recipient)</p>
        </div>

        <div class="box-1 notes">
          <h1>Notes</h1>
        </div>  
      </div>

      <div class="right-column">
        <!-- Content for right column -->
        <div class="box-2">
          <div class="label-value-pair">
            <p class="bold">Date</p>
            <p class="bold">Invoice No.</p>
          </div>
          <div class="label-value-pair">
            <p>02/27/2024</p>
            <p>#1</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">Customer PO No.</p>
            <p class="bold">Tracking Number</p>
          </div>
          <div class="label-value-pair">
            <p></p>
            <p>1ZXXXXXXXXXXXX</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">Contents Type</p>
            <p class="bold">B/L / AWS No.</p>
          </div>
          <div class="label-value-pair">
            <p>MERCHANDISE</p> 
          </div>

          <div class="label-value-pair">
            <p class="bold">Final Destination</p>
            <p class="bold">Export Route / Carrier</p>
          </div>
          <div class="label-value-pair">
            <p>CA</p>
            <p>UPS</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">No. of Packages</p>
            <p>1</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">AES / ITN</p>
            <p class="bold">EEL / PFC</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">Exporter Ref</p>
            <p class="bold">Importer Ref</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">License</p>
            <p class="bold">Certificate</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">Nondelivery Action</p>
            <p class="bold">Incoterm</p>
          </div>
          <div class="label-value-pair">
            <p>RTS</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">B13A Option</p>
            <p class="bold">B13A Number</p>
          </div>

          <div class="label-value-pair">
            <p class="bold">Contents Explanation</p>
          </div>
          
          <div class="label-value-pair">
            <p>T-Shirt purchase</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <!-- Footer content -->
    </div>
  </div>
</body>
</html>
